scikit-learn==1.2.2
pandas
joblib==1.3.2
##
docker login telco-observability-virt-stable.repo.tech.orange
username: mail
mot de pass : token 
docker pull telco-observability-virt-stable.repo.tech.orange/casmella-agent:test
--
ok : 
"cmVmdGtuOjAxOjE3NjI2MTY5Mzk6ZnFQbVpzT003WGpTRTNaS2o4MVRJV3ZNYnB277"
"cmVmdGtuOjAxOjE3NjI5NjYwMzA6Y1BzRFRaS3RMalc0aFFnbzQ3WE5ESDRUSW9688"
